a{
    display: block;
    margin: 20px;
    padding: 10px;
    background: linear-gradient(to top, #4fbd24, #41ec03);
    font-size: 2em;
    width: 250px;
    text-align: center;
    border-radius: 10px;
    color: honeydew;
    text-decoration: none;
    outline: 1px solid white;
    outline-offset: -10px;
}
a#but:hover{
    background: linear-gradient(to top, #f9a80c, #fbc157);
}
a#but:active {
    background: linear-gradient(to top, #f3dfaf, #f7de6f);
}