a{
    display: block;
    margin: 20px;
    padding: 10px;
    background: linear-gradient(to top, #4fbd24, #41ec03);
    width: 120px;
    height: 40px;
    text-align: center;
    text-align: inherit;


}