a{
    display: block;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    position: relative;
    background-color: blueviolet;
    color: #fff;
    text-decoration: none;
    font-size: 32px;
    padding: 15px;
    text-align: center;
    animation-name: a_1;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
a::after,a::before{
    content: "";
    position: absolute;
    bottom: -4px;
    right: 16px;
    z-index: 2;
    background-color: cyan;
    animation-name: my_movie;
    animation-duration: 3s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

a::after{
    left:16px;

}


@keyframes my_movie{
    0%{
        width: 0px;
        height: 120%;
        opacity: 0.1;
    }
    20%{
       width: 50px;
       height: 120%;
       opacity: 0.2;
    }
    40%{
        width: 100px;
        height: 120%;
        opacity: 0.3;
    }
    52%{
       width: 150px;
       height: 120%;
       opacity: 0.5;
    }
    65%{
        width:100px;
        height: 120%;
        opacity: 0.3;
    }
    80%{
        width: 50px;
        height: 120%;
        opacity: 0.2;
    }
    100%{
        width:0px;
        height: 120%;
        opacity: 0.1;
    }
}

@keyframes a_1 {
    0%{
        color: #fff;
    }
    20%{
        color: #000;
    }
    40%{
        color: #000;
    }
    60%{
        color: #000;
    }
    80%{
        color: #000;
    }
    100%{
        color: #fff;
    }
}