*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.leading{
    max-width: 1600px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    background-color: coral;
}
.wrapper{
    max-width: 1400px;
    margin: 0 auto;
    background-color: blueviolet
}
.header-block{
   
}
.header{
    border: 3px solid black;
    max-height: 150px;
}















/* .dropbtn{
    background-color: transparent;
    color: blanchedalmond;
    padding: 20px;
    margin-top: 20px;
    border: none;
    font-weight: bold;

}

.dropdown{
    position: relative;
    display: inline-block;
    font-weight: bold;
}

.dropdowncontent{
    display: none;
    position: absolute;
    background-color: black;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropdowncontent a{
    color: white;
    padding: 20px;
    text-decoration: none;
    display: block;
} 

.dropdown:hover .dropdowncontent{
    display: block;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropbtn {
    background-color: #f3f02f;
}

.backgroundmenu{
    background-image: url(banner-1756639__340.jpg);
    width: 1920px;
    height: 100px;
    margin: 0px;
} */