p#p_1{
    width: 500px;
    padding: 1em;
    background-color: orange;
    text-align: left;
}
p#p_2{
    width: 500px;
    padding: 1em;
    background-color: violet;
    text-align: right;
}
.first{
    text-decoration: underline dotted;
}
.second{
    text-decoration: underline dashed;
}
.third{
    text-decoration: underline wavy;
}
p#p_2>span:first-child{
    text-decoration: underline dotted;
}
p#p_2 span:nth-of-type(2){
    text-decoration: underline dashed;
}
p#p_2>span:last-child{
    text-decoration: underline wavy;
}